astroid==2.5
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
data==0.4
decorator==4.4.2
funcsigs==1.0.2
geojson==2.5.0
gTTS==2.2.2
idna==2.10
isort==5.7.0
joblib==1.0.1
keyboard==0.13.5
lazy-object-proxy==1.5.2
mccabe==0.6.1
mpg123==0.4
nltk==3.5
PyAudio==0.2.11
pydub==0.24.1
pygame==2.0.1
pylint==2.7.1
pyowm==3.2.0
PyQt5==5.15.3
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
PySocks==1.7.1
python-dateutil==2.8.1
pyttsx3==2.90
regex==2020.11.13
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
selenium==3.141.0
six==1.15.0
soupsieve==2.2
SpeechRecognition==3.8.1
toml==0.10.1
tqdm==4.59.0
urllib3==1.26.3
vext==0.7.4
webdriver-manager==3.3.0
wikipedia==1.4.0
Wikipedia-API==0.5.4
wrapt==1.12.1
