astroid==2.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
data==0.4
decorator==4.4.2
funcsigs==1.0.2
gTTS==2.2.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mpg123==0.4
PyAudio==0.2.11
pydub==0.24.1
pygame==2.0.1
pylint==2.7.1
python-dateutil==2.8.1
pyttsx3==2.90
requests==2.25.1
ruamel.yaml==0.16.12
six==1.15.0
SpeechRecognition==3.8.1
toml==0.10.1
urllib3==1.26.3
vext==0.7.4
wrapt==1.12.1
